<html>
    <body>
        <h1>Sign up</h1>
        <form action="/signup" method="POST">
          First name:<br>
          <input type="text" id="firstname" name="firstname" value="John"><br>
          Username:<br>
          <input type="text" id="username" name="username" value="John1"><br>
          Password:<br>
          <input type="password" id="password" name="password"><br><br>
          <input type="submit" value="Submit">
        </form>
        
        
        <h1>Login</h1>
        <form action="/login" method="POST">
          Username:<br>
          <input type="text" id="username" name="username" value=""><br>
          Password:<br>
          <input type="text" id="password" name="password" value=""><br><br>
          <input type="submit" value="Submit">
        </form>
        </body>
</html>